@import "../../base";

.footer {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;

  &__text {
    color: $tertiary-color;
    margin-bottom: 8px;
  }

  &__links {
    width: 15%;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $breakpoint-medium) {
      width: 4%;
    }
  }
}