$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;

.search {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: #121111;
    opacity: 1;

    @media screen and (min-width: $breakpoint-laptop) {
        width: 30%;
        right: 0;
    }
  
    &__header {
      width: 90%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      color: #f2f2f2;
      text-transform: uppercase;
    }
  
    &__button {
      border: none;
      outline: none;
      background-color: transparent;
      cursor: pointer;
    }
  
    &__title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  
      h3 {
        margin-left: -24px;
      }
    }
  
    &__form {
      width: 100%;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    &__form-input {
      width: 90%;
      height: 48px;
      border: none;
      border-radius: 4px;
      padding-left: 24px;
      font-size: 1.1em;
      background-color: #292626;
      color: #f2f2f2;
      opacity: 0.8;
      outline: none;
    }
  
    &__results {
      width: 100%;
      height: calc(100vh - 120px);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 24px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 10px;
        background-color: #112211;
      }
  
      &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #121111;
      }
  
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #292626;
      }
    }
  
    &__results--loading {
      width: 100%;
      height: calc(100vh - 200px);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__animation {
      border-radius: 50%;
      width: 8px;
      height: 8px;
      background-color: #393939;
      animation: bounce 1s infinite alternate;
    }
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0px);
      background-color: #f2f2f2;
    }
    to {
      transform: translateY(-16px);
      background-color: #393939;
    }
}