//Colors
//$primary-color: #121111;
$primary-color: rgb(54, 22, 0);
//$secondary-color: #f2f2f2;
$secondary-color: rgb(255, 207, 175);
$tertiary-color: #fff;
$alternative-color: #393939;
$box-shadow-color: #64646479;
$button-trash-color: #b62121;
$scrollbar-thumb-color: #292626;

//Fonts
$primary-font: "Roboto", sans-serif;

//Breakpoints Media Queries
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-huge: 1440px;

//Heigths
$modal-height: calc(100vh - 120px);