@import "./base";

* {
  box-sizing: border-box;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $primary-font;
  background-color: $background-color;
  color: $primary-color;
}